### 6.COMPARING STOCK PRICES
Write a program that compares the stock prices of APPLE, GOOGLE, MICROSOFT, and AMAZON. The program should retrieve the current stock prices of each company and calculate the percentage change in stock prices over a specified period. The program should display the percentage change in stock prices for each company and identify which company's stocks are performing the best.
Additionally, the program should retrieve historical stock prices for each company and analyze any trends or patterns in the data.

Note: Use pandas
_datareader library to
load the dataset of given companies

In [3]:
import pandas as pd 
import numpy as np

In [4]:
pip install yfinance

Requirement already satisfied: yfinance in c:\users\ashwini\anaconda3\lib\site-packages (0.2.21)
Requirement already satisfied: numpy>=1.16.5 in c:\users\ashwini\anaconda3\lib\site-packages (from yfinance) (1.21.5)
Requirement already satisfied: pandas>=1.3.0 in c:\users\ashwini\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\ashwini\anaconda3\lib\site-packages (from yfinance) (2.3.8)
Requirement already satisfied: html5lib>=1.1 in c:\users\ashwini\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: pytz>=2022.5 in c:\users\ashwini\anaconda3\lib\site-packages (from yfinance) (2023.3)
Requirement already satisfied: lxml>=4.9.1 in c:\users\ashwini\anaconda3\lib\site-packages (from yfinance) (4.9.1)
Requirement already satisfied: requests>=2.26 in c:\users\ashwini\anaconda3\lib\site-packages (from yfinance) (2.28.1)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\ashwini\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\ashwini\anaconda3\lib\site-packages (from yfinance) (4.11.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\ashwini\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: soupsieve>1.2 in c:\users\ashwini\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.3.1)
Requirement already satisfied: six>=1.9 in c:\users\ashwini\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\ashwini\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\ashwini\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\ashwini\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.11)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ashwini\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2022.9.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\ashwini\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ashwini\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.3)
Note: you may need to restart the kernel to use updated packages.

In [5]:
import yfinance as yf
from pandas_datareader import data as dr

In [6]:
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [7]:
yf.pdr_override()

In [8]:
end = datetime.now()
start = datetime(end.year - 3, end.month, end.day)

In [14]:
tech_list = ['TSLA','AAPL', 'GOOG', 'MSFT', 'AMZN'] # You can choose any company of your choice

for stock in tech_list:
    globals()[stock] = yf.download(stock, start, end)
   

company_list = [TSLA,AAPL, GOOG, MSFT, AMZN]
company_name = ["TESLA","APPLE", "GOOGLE", "MICROSOFT", "AMAZON"]

for company, com_name in zip(company_list, company_name):
    company["company_name"] = com_name
   
df = pd.concat(company_list, axis=0)

df.head()

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume,company_name
Date,,,,,,,
2020-07-29,100.066666,102.320663,99.133331,99.940666,99.940666,141403500,TESLA
2020-07-30,99.199997,100.882668,98.066666,99.166000,99.166000,114315000,TESLA
2020-07-31,101.000000,101.136665,94.732002,95.384003,95.384003,183123000,TESLA
2020-08-03,96.613335,100.653999,96.292000,99.000000,99.000000,132139500,TESLA
2020-08-04,99.667336,101.827332,97.466667,99.133331,99.133331,126225000,TESLA

In [15]:
for company, com_name in zip(company_list, company_name):
    company["company_name"] = com_name

In [16]:
df = pd.concat(company_list, axis=0)

df.head()

,Open,High,Low,Close,Adj Close,Volume,company_name
Date,,,,,,,
2020-07-29,100.066666,102.320663,99.133331,99.940666,99.940666,141403500,TESLA
2020-07-30,99.199997,100.882668,98.066666,99.166000,99.166000,114315000,TESLA
2020-07-31,101.000000,101.136665,94.732002,95.384003,95.384003,183123000,TESLA
2020-08-03,96.613335,100.653999,96.292000,99.000000,99.000000,132139500,TESLA
2020-08-04,99.667336,101.827332,97.466667,99.133331,99.133331,126225000,TESLA

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3775 entries, 2020-07-29 to 2023-07-28
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          3775 non-null   float64
 1   High          3775 non-null   float64
 2   Low           3775 non-null   float64
 3   Close         3775 non-null   float64
 4   Adj Close     3775 non-null   float64
 5   Volume        3775 non-null   int64
 6   company_name  3775 non-null   object
dtypes: float64(5), int64(1), object(1)
memory usage: 235.9+ KB

In [18]:
df.isnull().sum()

Open            0
High            0
Low             0
Close           0
Adj Close       0
Volume          0
company_name    0
dtype: int64

### revenue_by_company

In [19]:
df['Total']= df['Volume'] * df['Open']
revenue_by_company= df.groupby('company_name')['Total'].sum().sort_values(ascending=False)
print(revenue_by_company)

company_name
TESLA        1.802176e+13
APPLE        9.920401e+12
AMAZON       7.827430e+12
MICROSOFT    5.898410e+12
GOOGLE       2.362466e+12
Name: Total, dtype: float64

### market_cap_by_company

In [20]:
market_cap_by_company=df.groupby('company_name')['Volume'].sum() * df.groupby("company_name")['Adj Close'].sum()
market_cap_by_company= market_cap_by_company.sort_values(ascending=False)
print(market_cap_by_company)

company_name
TESLA        1.466785e+16
APPLE        7.653308e+15
AMAZON       5.908205e+15
MICROSOFT    4.413184e+15
GOOGLE       1.823495e+15
dtype: float64

### earning_per_share

In [21]:
df['total']= (df['Close']- df['Open']) * df['Volume']
df.head()

per_share= df.groupby("company_name")['total'].sum() / df.groupby("company_name")['Volume'].sum()
per_share= per_share.sort_values(ascending=False)
per_share

company_name
TESLA        0.173748
APPLE        0.076203
MICROSOFT    0.038862
GOOGLE       0.010190
AMAZON      -0.150740
dtype: float64

### percentage change in stock prices for each company

In [22]:
list1= ["TESLA","APPLE","MICROSOFT","AMAZON","GOOGLE"]
for company in list1:
    df_name= f"df_{company}"
    df_new= df[df["company_name"]== company]
    
    globals()[df_name]= df_new
    
    print(df_name)
    print(df_new)
    print(f"change in stock price in company {df_name} is {df_new['Open'].iloc[-1] - df_new['Open'].iloc[0]}" )

df_TESLA
                  Open        High         Low       Close   Adj Close  \
Date
2020-07-29  100.066666  102.320663   99.133331   99.940666   99.940666
2020-07-30   99.199997  100.882668   98.066666   99.166000   99.166000
2020-07-31  101.000000  101.136665   94.732002   95.384003   95.384003
2020-08-03   96.613335  100.653999   96.292000   99.000000   99.000000
2020-08-04   99.667336  101.827332   97.466667   99.133331   99.133331
...                ...         ...         ...         ...         ...
2023-07-24  255.850006  269.850006  254.119995  269.059998  269.059998
2023-07-25  272.380005  272.899994  265.000000  265.279999  265.279999
2023-07-26  263.250000  268.040009  261.750000  264.350006  264.350006
2023-07-27  268.309998  269.130005  255.300003  255.710007  255.710007
2023-07-28  259.859985  267.250000  258.230011  266.440002  266.440002

               Volume company_name         Total         total
Date
2020-07-29  141403500        TESLA  1.414978e+10 -1.781676e+07
2020-07-30  114315000        TESLA  1.134005e+10 -3.886319e+06
2020-07-31  183123000        TESLA  1.849542e+10 -1.028418e+09
2020-08-03  132139500        TESLA  1.276644e+10  3.153728e+08
2020-08-04  126225000        TESLA  1.258051e+10 -6.740468e+07
...               ...          ...           ...           ...
2023-07-24  136508500        TESLA  3.492570e+10  1.803276e+09
2023-07-25  112757300        TESLA  3.071283e+10 -8.005775e+08
2023-07-26   95856200        TESLA  2.523414e+10  1.054424e+08
2023-07-27  103697300        TESLA  2.782302e+10 -1.306585e+09
2023-07-28  111149300        TESLA  2.888326e+10  7.313643e+08

[755 rows x 9 columns]
change in stock price in company df_TESLA is 159.79331970214844
df_APPLE
                  Open        High         Low       Close   Adj Close  \
Date
2020-07-29   93.750000   95.230003   93.712502   95.040001   93.310425
2020-07-30   94.187500   96.297501   93.767502   96.190002   94.439507
2020-07-31  102.885002  106.415001  100.824997  106.260002  104.326256
2020-08-03  108.199997  111.637497  107.892502  108.937500  106.955017
2020-08-04  109.132500  110.790001  108.387497  109.665001  107.669281
...                ...         ...         ...         ...         ...
2023-07-24  193.410004  194.910004  192.250000  192.750000  192.750000
2023-07-25  193.330002  194.440002  192.919998  193.619995  193.619995
2023-07-26  193.669998  195.639999  193.320007  194.500000  194.500000
2023-07-27  196.020004  197.199997  192.550003  193.220001  193.220001
2023-07-28  194.669998  196.630005  194.139999  195.830002  195.830002

               Volume company_name         Total         total
Date
2020-07-29   90329200        APPLE  8.468362e+09  1.165248e+08
2020-07-30  158130000        APPLE  1.489387e+10  3.166557e+08
2020-07-31  374336800        APPLE  3.851364e+10  1.263387e+09
2020-08-03  308151200        APPLE  3.334196e+10  2.272625e+08
2020-08-04  173071600        APPLE  1.888774e+10  9.216084e+07
...               ...          ...           ...           ...
2023-07-24   45377800        APPLE  8.776520e+09 -2.994951e+07
2023-07-25   37283200        APPLE  7.207961e+09  1.081188e+07
2023-07-26   47471900        APPLE  9.193883e+09  3.940176e+07
2023-07-27   47460200        APPLE  9.303149e+09 -1.328887e+08
2023-07-28   48254600        APPLE  9.393723e+09  5.597551e+07

[755 rows x 9 columns]
change in stock price in company df_APPLE is 100.91999816894531
df_MICROSOFT
                  Open        High         Low       Close   Adj Close  \
Date
2020-07-29  202.500000  204.649994  202.009995  204.059998  198.547012
2020-07-30  201.000000  204.460007  199.570007  203.899994  198.391342
2020-07-31  204.399994  205.100006  199.009995  205.009995  199.471329
2020-08-03  211.520004  217.639999  210.440002  216.539993  210.689819
2020-08-04  214.169998  214.770004  210.309998  213.289993  207.527634
...                ...         ...         ...         ...         ...
2023-07-24  345.850006  346.920013  342.309998  345.109985  345.109985
2023-07-25  347.109985  351.890015  345.070007  350.980011  350.980011
2023-07-26  341.440002  344.670013  333.109985  337.769989  337.769989
2023-07-27  340.480011  341.329987  329.049988  330.720001  330.720001
2023-07-28  333.670013  340.010010  333.170013  338.369995  338.369995

              Volume company_name         Total         total
Date
2020-07-29  19632600    MICROSOFT  3.975602e+09  3.062681e+07
2020-07-30  25079600    MICROSOFT  5.041000e+09  7.273069e+07
2020-07-31  51044000    MICROSOFT  1.043339e+10  3.113687e+07
2020-08-03  78983000    MICROSOFT  1.670648e+10  3.964938e+08
2020-08-04  49280100    MICROSOFT  1.055432e+10 -4.336673e+07
...              ...          ...           ...           ...
2023-07-24  26678100    MICROSOFT  9.226621e+09 -1.974235e+07
2023-07-25  41637700    MICROSOFT  1.445286e+10  1.611390e+08
2023-07-26  58383700    MICROSOFT  1.993453e+10 -2.142690e+08
2023-07-27  39635300    MICROSOFT  1.349503e+10 -3.868409e+08
2023-07-28  28463000    MICROSOFT  9.497250e+09  1.337756e+08

[755 rows x 9 columns]
change in stock price in company df_MICROSOFT is 131.17001342773438
df_AMAZON
                  Open        High         Low       Close   Adj Close  \
Date
2020-07-29  151.549500  151.957993  149.838501  151.676498  151.676498
2020-07-30  150.699997  154.600006  150.250000  152.593994  152.593994
2020-07-31  162.199997  162.341003  157.550003  158.233994  158.233994
2020-08-03  159.025497  159.199997  155.199997  155.594498  155.594498
2020-08-04  155.060501  158.362000  155.060501  156.941498  156.941498
...                ...         ...         ...         ...         ...
2023-07-24  130.309998  131.660004  128.350006  128.800003  128.800003
2023-07-25  129.309998  129.580002  128.529999  129.130005  129.130005
2023-07-26  126.510002  129.080002  126.110001  128.149994  128.149994
2023-07-27  131.000000  132.630005  127.790001  128.250000  128.250000
2023-07-28  129.690002  133.009995  129.330002  132.210007  132.210007

               Volume company_name         Total         total
Date
2020-07-29   59482000       AMAZON  9.014467e+09  7.554149e+06
2020-07-30  122566000       AMAZON  1.847070e+10  2.321397e+08
2020-07-31  161710000       AMAZON  2.622936e+10 -6.413424e+08
2020-08-03  101494000       AMAZON  1.614013e+10 -3.482259e+08
2020-08-04   93886000       AMAZON  1.455801e+10  1.765993e+08
...               ...          ...           ...           ...
2023-07-24   45591100       AMAZON  5.940976e+09 -6.884231e+07
2023-07-25   39236700       AMAZON  5.073698e+09 -7.062319e+06
2023-07-26   53910100       AMAZON  6.820167e+09  8.841212e+07
2023-07-27   52610700       AMAZON  6.892002e+09 -1.446794e+08
2023-07-28   46234700       AMAZON  5.996178e+09  1.165116e+08

[755 rows x 9 columns]
change in stock price in company df_AMAZON is -21.8594970703125
df_GOOGLE
                  Open        High         Low       Close   Adj Close  \
Date
2020-07-29   75.316002   76.562599   75.066498   76.100998   76.100998
2020-07-30   74.849998   76.893501   74.611000   76.572502   76.572502
2020-07-31   75.250504   75.447502   72.701500   74.148003   74.148003
2020-08-03   74.332001   74.523499   73.281998   73.722504   73.722504
2020-08-04   73.828499   74.278000   72.932503   73.248497   73.248497
...                ...         ...         ...         ...         ...
2023-07-24  121.926003  123.349998  121.379997  121.879997  121.879997
2023-07-25  121.879997  123.690002  121.529999  122.790001  122.790001
2023-07-26  130.360001  131.369995  128.710007  129.660004  129.660004
2023-07-27  131.800003  133.600006  129.179993  129.869995  129.869995
2023-07-28  130.970001  134.070007  130.919998  133.009995  133.009995

              Volume company_name         Total         total
Date
2020-07-29  22130000       GOOGLE  1.666743e+09  1.737196e+07
2020-07-30  33428000       GOOGLE  2.502086e+09  5.757985e+07
2020-07-31  68798000       GOOGLE  5.177084e+09 -7.584986e+07
2020-08-03  46604000       GOOGLE  3.464169e+09 -2.840500e+07
2020-08-04  38070000       GOOGLE  2.810651e+09 -2.208067e+07
...              ...          ...           ...           ...
2023-07-24  22276100       GOOGLE  2.716036e+09 -1.024818e+06
2023-07-25  31820800       GOOGLE  3.878319e+09  2.895704e+07
2023-07-26  46216900       GOOGLE  6.024835e+09 -3.235169e+07
2023-07-27  35931600       GOOGLE  4.735785e+09 -6.934827e+07
2023-07-28  26959800       GOOGLE  3.530925e+09  5.499781e+07

[755 rows x 9 columns]
change in stock price in company df_GOOGLE is 55.65399932861328